# Flutter
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
*.lock

# Android
**/.gradle/
**/local.properties
**/keystore.properties

# iOS
**/Pods/
**/.symlinks/

# IDE
**/.idea/
**/.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Flutter SDK
flutter-sdk/

# Gradle cache
.gradle-cache/
